/* create.css */
	
/* 1. Reset
--------------------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
}
:focus { outline:0;}
body {
	background:#fff;
	color:#000;
	line-height:1;
}
ol,ul { list-style:none;}
html,body { height:100%;}
	
/* 2. Elements
--------------------------------------------------------------------------------*/
body {
	font-family:"Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#383731;
	background:#f7f7f7;
	font-size:14px;
	line-height:24px;
	font-weight:300;
}
a {
	text-decoration:none;
	color:#383731;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/a_brdr.gif) repeat-x bottom center;
}
a:hover, a:focus { color:#7b8738;}
h1,h2,h3,h4,h5,h6 { }
img { }
p { margin-bottom:0;}
textarea {
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/pre_bg.gif) repeat scroll left top #fff;
	border:1px solid #ebebeb;
	color:#000;
	display:block;
	font-family:"Courier New",Courier,monospace;
	font-size:13px;
	line-height:18px;
	margin:10px 0 20px;
	overflow-x:scroll;
	overflow-y:auto;
	padding:18px 10px 17px;
	position:relative;
	z-index:50;
}

/* 3. ID's
--------------------------------------------------------------------------------*/
#content {
	background:#f7f7f7 url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/bg_gradient.jpg) repeat-x;
	min-width:1000px;
	border-top:1px solid #525252;
	margin-bottom:50px;
}
#masthead #coreLogo {
	position: relative;
	top: 40px;
	display:block;
	width:461px;
	height:71px;
	text-indent:-9999px;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/editor/coreLogo.png) no-repeat;
	float: none;
	margin-left: 0;
}
#corePlayer {
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/editor/corePlayer.png) no-repeat;
	display:block;
	width:563px;
	height:326px;
	position:absolute;
	top:40px;
	left:449px;
	z-index: 50;
}
#core{
	width: 461px;
	position: relative;
	height:324px;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/editor/quotes.png) no-repeat 0 123px;
}
#coreQuotes {
	color:#fff;
	width: 461px;
	position: relative;
	top: 52px;
}
.quotes {
	width:443px;
	padding:10px 8px 0 10px;
	font-size:13px;
	line-height:22px;
}
#coreQuotes p.attribution {
	margin-top:10px;
	text-align:right;
	font-style:italic;
	line-height:18px;
	font-size:16px;
}
#coreQuotes p.attribution span { font-size:13px;}
#createforeffect {
	width:483px;
	color:#fff;
	top:60px;
	left:30px;
	position:absolute;
}
#createforeffect h2.createforeffect {
	font-size:36px;
	font-weight:100;
	float:none;
	line-height:normal;
	text-shadow:none;
	letter-spacing:3px;
	margin-bottom:0;
	color:#fff;
	margin-left: 0;
}
#createforeffect p { line-height:26px;}
#createLink {
	display:block;
	width:315px;
	height:23px;
	left:70px;
	position:absolute;
	top:30px;
	text-indent:-9999px;
}
#footer {
	width:1000px;
	margin:0 auto;
	border-top:5px solid #dfdfdb;
	height:100px;
	color:#8f8e88;
	font-size:12px;
	padding-top:15px;
}
#footer img { float:right;}
#header {
	height:76px;
	background:#2f2f29 url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/nav/bg.jpg) repeat-x;
	min-width:1000px;
	letter-spacing:1px;
	font-weight:100;
}
#header h1 {
	text-indent:-9999px;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/nav/logo.gif) no-repeat left top;
	width:376px;
	height:76px;
	display:block;
	float:left;
}
#header ul {
	height:76px;
	float:right;
}
#header li {
   	margin: 8px 2px;
	float:left;
}
#header a {
	text-shadow:1px 1px 0 #000;
	line-height:76px;
	font-size:20px;
	color:#fff;
	padding:10px;
	background-image:none;
}
#header a:hover, #header a:focus, #header a.current { color:#ffcb09;}
#headerStar {
	display:block;
	width:30px;
	height:45px;
	left:10px;
	position:absolute;
	top:6px;
	text-indent:-9999px;
}
#masthead {
	background:#565654 url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/masthead/bg.jpg) repeat-x top;
	min-width:1000px;
}
#masthead h2 {
	color:#333;
	float:left;
	font-size:49px;
	line-height:125px;
	font-weight:200;
	text-shadow:0 1px 1px #bbb;
	margin-left:5px;
}
#masthead ul {
	float:right;
	margin:0 15px;
}
#masthead li { float:left;}
#masthead a {
	background-image:none;
	padding:15px 5px;
	margin:5px;
	color:#fff;
	font-weight:300;
	line-height:125px;
	font-size:15px;
	letter-spacing:1px;
}
#masthead a.current { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/masthead/arrow.png) no-repeat bottom center;}
#masthead a:hover, #masthead a:focus{ color: #ccc;} 
#masthead a.current { color:#000;}
#pageNav {
	height:50px;
	display:block;
}
#pageNav ul {
	height:32px;
	margin-top:18px;
	margin-left:15px;
}
#pageNav li {
	display:inline;
	float:left;
}
#pageNav a {
	color:#898986;
	height:22px;
	display:block;
	margin:0 20px 0 0;
	line-height:22px;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_bg.jpg) left center repeat-x;
	font-size:15px;
}
#pageNav a:hover, #pageNav a:focus, #pageNav a.current { color:#383731;}
#pageNav a#one { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_sprite2.png) 0 -24px no-repeat;}
#pageNav a#one:hover, #pageNav a#one:focus, #pageNav a#one.current { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_sprite2.png) 0 0 no-repeat;}
#pageNav a#two { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_sprite2.png) -25px -24px no-repeat;}
#pageNav a#two:hover, #pageNav a#two:focus, #pageNav a#two.current { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_sprite2.png) -25px 0 no-repeat;}
#pageNav a#three { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_sprite2.png) -50px -24px no-repeat;}
#pageNav a#three:hover, #pageNav a#three:focus, #pageNav a#three.current { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_sprite2.png) -50px 0 no-repeat;}
#pageNav a#four { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_sprite2.png) -75px -24px no-repeat;}
#pageNav a#four:hover, #pageNav a#four:focus, #pageNav a#four.current { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_sprite2.png) -75px 0 no-repeat;}
#one,#two,#three,#four {
	height:22px;
	padding-left:23px;
}
#pageNav a span {
	height:22px;
	padding:5px;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_bg.jpg) right center repeat-x;
}
#playerContainer {
	position:relative;
	top:3px;
	left:41px;
	z-index: 50;
}
#site_screenshot {
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/masthead/site_screenshot.png) no-repeat;
	display:block;
	width:437px;
	height:419px;
	position:relative;
	top:-15px;
	left:560px;
}
#tabContainer .item { display:none;}
#tabContainer .item.active { display:block;}
#topCOREbuttons {
	margin:20px 0 25px;
	overflow:hidden;
}
#wrapper { width:100%;}
	
/* 4. Classes
--------------------------------------------------------------------------------*/
.box {
	margin-top:40px;
	overflow:hidden;
}
.box li {
	background:#fff;
	display:block;
	float:left;
	margin:20px;
	width:271px;
	border:1px solid #ddd;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding:10px;
}
.boxContainer h4, .boxContainer h3 {
	font-size:18px;
	font-weight:300;
	float:right;
	width:170px;
	background:none;
	height:inherit;
	line-height:inherit;
	margin-left:0;
	padding-left:0;
}
.boxContainer img { float:left;}
.boxContainer p {
	font-size:12px;
	width:170px;
	float:right;
	line-height: 20px;
}
.boxColor {
	margin-top:0;
	overflow:hidden;
}
.leftCol .boxColor li {
	background:#fff;
	display:block;
	float:left;
	margin:20px 0;
	width:271px;
	border:1px solid #ddd;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding:10px;
}
.boxContainer .boxColor li p { margin-left:0;}
.bullet {
	list-style:disc;
	margin-left:18px;
}
.leftCol .bullet li { margin-bottom:0;}
.clear { clear:both;}
.container {
	width:1000px;
	margin:0 auto;
	position:relative;
}
.corePage .leftCol {
	width:625px;
	margin:0 18px;
	float:left;
}
.corePage .leftCol h3 {
	font-size:30px;
	font-weight:300;
	margin-bottom:8px;
}
.corePage .leftCol p { margin-bottom: .75em}
.corePage .rightCol {
	width:295px;
	margin:0 20px;
	float:right;
}
.corePage h4 { font-size: 1.33em; margin-bottom: .75em;}
a.coreButton {
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/editor/signup_buttons.gif) no-repeat;
	display:block;
	height:65px;
	width:303px;
	color:#f7f7f7;
}
a.signUp {
	background-position:0 0;
	float:left;
}
a.logIn {
	background-position:-303px 0;
	float:right;
}
a.signUp:hover, a.signUp:focus {
	background-position:0 -65px;
	color:#383731;
}
a.logIn:hover, a.logIn:focus {
	background-position:-303px -65px;
	color:#383731;
}
.corePage a.coreButton h3 {
	font-size:24px;
	font-weight:600;
	margin:6px 0 2px 95px;
}
.corePage a.coreButton p {
	font-size:10px;
	line-height:13px;
	margin:0 0 0 95px;
	width:200px;
}
.grayBox {
	margin-top:20px;
	width:293px;
	background:#eee;
	position:relative;
	border:1px solid #cecece;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	margin-bottom:40px;
}
.grayBox:before {
	border-top:1px solid #fafafa;
	width:291px;
	content:'';
	position:absolute;
	left:1px;
}
.grayBox_inner {
	margin:10px;
	overflow:hidden;
}
.grayBox h3 {
	font-size:16px;
	line-height:22px;
}
.grayBox p {
	font-size:12px;
	line-height:22px;
	margin-bottom:20px;
}
.grayBox img {
	float:right;
	border:none;
}
.hide {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.skip2 a { display: block; position: absolute; left: -10000px; top: auto; width: 100%; height: 3em; font-weight: bold; text-align: center; font-size:1.5em; color: #000;} 
.skip2 a:active, .skip2 a:focus { background: #ccc; position: static; width: auto; height: auto; padding: 1em; margin: auto;}
.iconBox {
	width:90px;
	height:130px;
	display:block;
	float:left;
	border:1px solid #d7d7d7;
}
.item { overflow:hidden;}
.landing { height:324px;}
.landingPage ul {
	margin-top:40px;
	overflow:hidden;
}
.landingPage li {
	display:inline;
	float:left;
	margin:0 20px;
	width:293px;
}
.landingPage li h3 a {
	background-image:none;
	border-top:10px solid #dfdfdb;
	font-size:30px;
	font-weight:600;
	padding:10px 0;
	width:293px;
	display:block;
}
.landingPage li h3 a:hover, .landingPage li h3 a:focus {
	border-top:10px solid #ffcb09;
	color:#383731;
}
.leftCol {
	width:295px;
	margin:0 20px;
	float:left;
}
.leftColLarge {
	width:325px;
	margin:0 20px;
	float:left;
}
.leftCol ol { }
.leftCol li {
	margin-bottom:20px;
	margin-left:8px;
}
.leftCol li h3 {
	font-size:20px;
	font-weight:300;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/yellow_dot.jpg) no-repeat left center;
	display:block;
	height:29px;
	line-height:29px;
	padding-left:35px;
	margin-left:-27px;
}
.leftCol h3 {
	font-size:20px;
	font-weight:300;
}
.leftColLarge h3 {
	font-size:20px;
	font-weight:300;
}
.leftCol li h3 span {
	margin:0 10px 0 -26px;
	font-size:20px;
	font-weight:400;
}
.leftCol li p {	margin-left:10px;}
.mainInfo {
	float:left;
	width:630px;
	margin-right:20px;
}
.mainInfo h2 {
	font-size:32px;
	font-weight:200;
	margin-bottom:10px;
}
.mainInfo p { margin-bottom:10px;}
.noCol {
	width:960px;
	margin:0 20px;
}
.noCol h3 {
	font-size:20px;
	font-weight:300;
}
.rightCol {
	width:625px;
	margin:0 18px;
	float:right;
}
.rightCol h3 {
	font-size:20px;
	font-weight:300;
}
.rightCol img { border:1px solid #ddd;}
.section { height:125px;}
.subInfo {
	float:right;
	width:290px;
	margin-left:20px;
}
.subInfo h3 { font-size:22px;}
.verdana {
	font-family:Verdana, sans-serif;
	margin-left:23px;
	margin-bottom:25px;
}
.yellowBox {
	width:998px;
	background:#f7eeca;
	position:relative;
	border:1px solid #e6dfc6;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	margin-bottom:40px;
}
.yellowBox:before {
	border-top:1px solid #fafafa;
	width:996px;
	content:'';
	position:absolute;
	left:1px;
}
.yellowBox_inner {
	margin:15px;
	overflow:hidden;
}

.contactUsItem { display:none;}
.contactUsItem, .contactUs h3, .widget {
	border-bottom: 1px solid #ccc;
	margin-top:1px;
}
.contactUsItem ul { margin-left: 2em; }
.contactUsItem li { 
	font-size: 1em; 
	line-height: 1.6em;
}
.contactUs .current, .contactUsItem a:hover, .contactUsItem a:focus { background: #F7EECA;}
.contactUs h3 a {
	display: block;
	padding: 2px 30px 3px;
	font-size: .85em;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/create/widgets/inactive_arrow.png") no-repeat 9px 9px;
}
.contactUs h4 { font-size: 1em; font-weight: bold; margin-bottom: 0;}
.contactUs .shade a { background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/create/widgets/active_arrow.png") no-repeat 9px 9px;}
.contactUs h3 a:visited, .contactUs h3 a:hover, .contactUs h3 a:active, .contactUs h3 a:focus {
	color: #3D3D3D;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/create/widgets/active_arrow.png") no-repeat 9px 9px;
}
.contactUsItem a {
	color: #3D3D3D;
	font-weight: bold;
}
.contactUsItem a:visited, .contactUsItem a:hover, .contactUsItem a:active, .contactUsItem a:focus {
	color: #3D3D3D;
	text-decoration: underline;
}
.widget { padding-bottom: .5em;}
.widget_img { display:block; margin: 1.5em auto;}
.widget_large_img { display:block; }
.widget_img, .widget_large_img { margin-bottom: 2em;}

.cuShow {
	position:relative;
	left:0px;
	width: auto;
	height: auto;
	display: block;
}

/*-------------- Social Widget CSS --------------*/
#addThis h2,#shareClose{ display:none;}
#addThis{ font-size: 0.9em; float:left; width: 100%; margin:2.5em 0 .25em 2em; padding:.5em; }
#addThis a { color: #3d3d3d;}
#addThis ul{ display:block;float:left;list-style:none outside none; width:100%; margin: 0; margin-left: -2.5em; text-align: left;}
#addThis ul#tops{ padding: 0;}
#addThis ul#moreShare{ padding: 0;}
#addThis ul#tops li{ width:15.95; margin-left: 4px;}
#addThis li{ float:left; width:15.95%; margin:4px 2px; padding:0;}
.share_sprite .textLink{ float:left; margin-left:21px; width:80px; display:block;}
.share_sprite{ display:inline; float:left; height:16px; width:16px; margin:4px;}
#tops .share_sprite .textLink { width:80px;}

.facebook { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat; }
.twitter { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat; }
.googleplus { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat; }
.pinterest { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat; }
.stumbleupon { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat; }
.reddit { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat; }
.linkedin { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat; }
.all { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat; }
.share_sprite .textLink:hover, .share_sprite .textLink:focus, .share_sprite .textLink:active { cursor:pointer;}
#addThis ul li:hover, #addThis ul li:focus, #addThis ul li:active { background-color:#fff; }
/*-------------- /Social Widget CSS --------------*/
	
/* 5. Print
--------------------------------------------------------------------------------*/
	
/* 6. Handheld
--------------------------------------------------------------------------------*/
	
/* 7. Debug
--------------------------------------------------------------------------------*/
	

/* ---Un Comment for testing
*[style], font, center {outline: 5px solid red;}
img[alt=""] {border: 3px solid red;}
img[title=""] {border: 3px dotted fuchsia;}
img:not([alt]) {border: 5px solid red;}
img:not([title]) {outline: 5px solid fuchsia;}
table[summary=""] {outline: 3px solid red;}
table:not([summary]) {outline: 5px solid red;}
th {border: 2px solid red;}
th[scope="col"], th[scope="row"] {border: none;}
a[href]:not([title]) {border: 5px solid red;}
a[title=""] {outline: 3px dotted red;}
a[href=""] {background: fuchsia;} */
