#tabContainer{ margin-top: 10px;}
.corePage a.coreButton h3 {
	font-size:20px;
	margin:6px 0 2px 80px;
}
.corePage a.coreButton p {
	font-size:10px;
	line-height:13px;
	margin:0 0 0 80px;
	width:220px;
}
#addThis li { padding-bottom: 6px;}