ol,ul, dl { position: relative;}
#header li { display: inline;}
#masthead h2 { display: inline;}
#masthead ul { display: inline}
.box li, .boxColor li { display:inline;}
.corePage .leftCol {
	display: inline;
	margin-left: 0;
}
.corePage .rightCol { display: inline;}
.leftCol { display: inline;}
.rightCol { 
	display: inline;
	margin: 0 0 0 18px;
}
#masthead a.current { background: none;}
.leftCol {
	margin:0 20px 0 0;
	padding-left: 20px;
}
.corePage a.coreButton h3 {
	font-size:20px;
	margin:6px 0 2px 80px;
}
.corePage a.coreButton p {
	font-size:10px;
	line-height:13px;
	margin:0 0 0 80px;
	width:220px;
}
#topCOREbuttons{ padding-bottom: 25px;}
#site_screenshot{ overflow: hidden;}
.landing{ overflow: hidden;}
#pageNav {
	height:50px;
	display:block;
}
#pageNav ul {
	height:32px;
	margin-top:18px;
	margin-left:15px;
	float: left;
}
#pageNav li {
	display: inherit;
	float:left;
}
#pageNav a {
	color:#898986;
	height:22px;
	margin:0 20px 0 0;
	line-height:22px;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_bg.jpg) left center repeat-x;
	font-size:15px;
	display: block;
	float: left;
}
#pageNav a span {
	height:22px;
	padding: 6px;
	background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/content/numbers_bg.jpg) right center repeat-x;
}
#tabContainer{ margin-top: 10px;}
#coreQuotes{ top: 0;}
