/* Designer */
#create_bar {
    background-image: url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/designer/create_bar_bg.gif);
    height: 33px;
}
#create_bar a.create_logo {
    background-image: url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/designer/create_bar_logo.gif);
}
#container {
    padding-top: 0;
}
#content_envelope_header { margin-bottom: -5px; display: block; height:9px; width:808px; background-repeat:no-repeat; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/designer/content_envelope_header.gif); }
#content_envelope {margin-top: -5px;}

.contentContainer {  }

#subnav {
    margin-bottom: -12px;
}
#wrapper {
    margin: 0 auto;
    width: 808px;
    overflow: hidden;
}
ul#tabs a{ line-height: 1.6; height: 32px; padding-top: 7px; margin: 0;}
