#create_bar{  left: 0;  top: 0;  position: fixed; z-index: 5000; height: 36px; width: 100%; background-image: url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/designer/create_bar_bg.png); background-repeat: repeat-x;}
ul#tabs a{ line-height: 1.2; padding-top: 6px; margin-top: 1px;}
