/* Table of Contents
------------------------------------
	1. Reset
    2. Elements (a, body, p, etc.)
	3. ID's (#container, etc.)
	4. Classes (.red, .clear, etc.)
	5. Print
	6. Handheld
	7. Debug
	
COLORS
    Body Background:       #2F2C22
    Main Text:             #B3A576
    Links:                 #9C6D25
    Dark Brown Border:     #222019
    Green Headline:        #958944
------------------------------------*/

/* 1. Reset
------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; }
:focus { outline:0; }
ol,ul { list-style:none; }

/* 2. Elements
------------------------------------*/
html {overflow: auto; height: 100%; background:#edecec url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/landing_bg.gif) repeat-x;}
body {  height:100%; width:950px; margin-top:0; margin-bottom:0; margin-left:auto; margin-right:auto; color:#3d3d3d; font-family:Helvetica, Arial, sans-serif; }
a { color:#3d3d3d; font-weight:bold; text-decoration:none; }
a:hover, a:focus { color:#7b8738; }
h1,h2,h3,h4,h5,h6 { }
img { border:none; }
p { font-size:1.1em; line-height:1.5em; }

/* 3. ID's
------------------------------------*/
#wrapper { background: #fff url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/white_bg.gif) repeat scroll 0 0; height:100%; }
#container {margin:0 auto; background:#fff url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/white_bg.gif) repeat scroll 0 0; font-size:68.5%; width:950px; }
#header { margin-bottom:15px; height:419px; width:950px; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/banner.gif); background-repeat:no-repeat; }
#centered_content { margin-right:auto; margin-left:auto; width:808px; }
#overview { margin-bottom:20px; }
#overview h2 { font-weight:bold; font-size:250%; }
table h2 { font-size:175%; font-weight:bold; }
table h3 { font-size:145%; font-weight:bold; }
table h4 { margin-bottom:8px; font-size:125%; }
table h5 { margin-bottom:8px; font-size:125%; }
