/* Developer CSS*/
#create_bar {
    background-image: url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/create_bar_bg.gif);
    height: 33px;
}
#create_bar a.create_logo {
    background-image: url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/create_bar_logo.gif);
}
#container {
    padding-top: 0;
}
#content_envelope_header {margin-top:15px; margin-bottom: -5px; display: block; height:9px; width:808px; background-repeat:no-repeat; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/content_envelope_header.gif); }
#content_envelope {margin-top: -5px;}

.contentContainer {  }

#wrapper {
    margin: 0 auto;
    width: 808px;
    overflow: hidden;
}
.maininfo h2 { font-size: 205%;}


#armysharethis{ width: 748px; height: 50px; overflow-x:auto; overflow-y: auto;}
#armyvideoplayer{ width: 530px;  overflow-x:auto; overflow-y: auto;}
#armyrss{ width: 467px; overflow-x:auto; overflow-y: auto;}
#armyflickr{ width: 530px;  overflow-x:auto; overflow-y: auto;}
