#create_bar{  left: 0;  top: 0;  position: fixed; z-index: 5000; height: 36px; width: 100%; background-image: url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/create_bar_bg.png); background-repeat: repeat-x;}

#armysharethis{ width: 748px; height: 50px; overflow-x:auto; overflow-y: auto;}
#armyvideoplayer{ overflow-x:auto; margin-left: -8px;}
#armyrss{ overflow-x:auto; overflow-y: auto;  margin-left: -8px;}
#armyflickr{ overflow-x:auto; overflow-y: auto;  margin-left: -8px;}
