/* Developer CSS*/

/* 1. Reset
------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; }
:focus { outline:0; }
body { background:#fff; color:#000; line-height:1; }
ol,ul { list-style:none; }

/* 2. Elements
------------------------------------*/
body { 
/*    height: 100%;*/
background:#7a7a7a url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/body_gradient.jpg) repeat-x; color:#3d3d3d; font-family:Helvetica, Arial, sans-serif; }
a { color:#3d3d3d; text-decoration:none; }
a:hover, a:focus { text-decoration:none; color:#7b8738; }
h1,h2,h3,h4,h5,h6 { }
img { border-color:#a0a1a3; border-width:1px; border-style:solid; }
a img:hover, a img:focus { border-color:#000; }
p { font-size:1.1em; line-height:1.4em; }
textarea { font-family:Courier, sans-serif; font-size:120%; padding:10px; color:#555; border:1px solid #3d3d3d; background-color:#e9e9e9; overflow:visible; }
pre { font-family:Courier, sans-serif; font-size:120%; padding:10px; color:#555; border:1px solid #3d3d3d; background-color:#e9e9e9; overflow:auto; }
#armysharethis { width:748px; }
#armyvideoplayer { width:530px; }
#armyrss { width:467px; }
#armyflickr { width:530px; }

/* 3. ID's
------------------------------------*/
#create_bar { float:left; position:fixed; z-index:5000; height:36px; width:100%; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/create_bar_bg.png); background-repeat:repeat-x; }
#create_bar a.create_logo { float:left; position:relative; left:10px; top:10px; background-repeat:no-repeat; text-indent:-9999px; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/create_bar_logo.png); display:block; height:13px; width:198px; }
#create_bar ul { float:right; }
#create_bar li { display:inline; border-left:1px solid #ad8900; padding:0 8px; right:8px; top:8px; position:relative; }
#create_bar li:first-child { border:none; }
#create_bar li a.nav { text-decoration:none; font-size:75%; }
#create_bar li a.nav:hover, #create_bar li a.nav:focus { color:#3d3d3d; text-decoration:underline; }
#container { margin-left:auto; margin-bottom:14px; margin-right:auto; margin-top:0; border-bottom-color:white; border-bottom-width:10px; border-bottom-style:solid; height:100%; padding-left:0; padding-bottom:0; padding-right:0; padding-top:33px; border-right-color:white; border-left-color:white; border-right-width:10px; border-right-style:solid; border-left-style:solid; border-left-width:10px; background:#ebebeb; font-size:62.5%; overflow:hidden; width:950px; }
#header { background-repeat:repeat-x; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/header_bg.gif); width:100%; height:89px; }
#logo a { float:left; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/army_logo.gif); background-repeat:no-repeat; height:89px; width:335px; display:block; text-indent:-9999px; }
#section_logo h2.content_editor { background-repeat:no-repeat; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/h2/content_editor.gif); height:89px; float:right; display:block; width:226px; text-indent:-9999px; }
#section_logo h2.developer { background-repeat:no-repeat; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/h2/developer.gif); height:89px; float:right; display:block; width:226px; text-indent:-9999px; }
#section_logo h2.designer_lite { background-repeat:no-repeat; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/h2/designer_lite.gif); height:89px; float:right; display:block; width:226px; text-indent:-9999px; }
#section_logo h2.designer_pro { background-repeat:no-repeat; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/h2/designer_pro.gif); height:89px; float:right; display:block; width:226px; text-indent:-9999px; }
#navbar { background-repeat:repeat-x; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/navigation/navbar_bg.gif); height:53px; width:100%; }
#mainNavigation { margin-right:auto; margin-left:auto; height:53px; width:705px; }
#mainNavigation li { float:left; }
#mainNavigation a { text-indent:-9999px; display:block; height:53px; }
#spacerLeft { display:block; height:53px; width:145px; background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/navigation/navigation.gif) 0 -53px no-repeat; }
#btn-videoplayer { width:139px; background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/navigation/navigation.gif) 0 -53px no-repeat; }
#btn-videoplayer:hover, #btn-videoplayer:focus, #btn-videoplayer.selected { background-position:0 0; }
#btn-sharethis { width:85px; background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/navigation/navigation.gif) -139px -53px no-repeat; }
#btn-sharethis:hover, #btn-sharethis:focus, #btn-sharethis.selected { background-position:-139px 0; }
#btn-flickr { width:133px; background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/navigation/navigation.gif) -224px -53px no-repeat; }
#btn-flickr:hover, #btn-flickr:focus, #btn-flickr.selected { background-position:-224px 0; }
#btn-rss { width:141px; background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/navigation/navigation.gif) -357px -53px no-repeat; }
#btn-rss:hover, #btn-rss:focus, #btn-rss.selected { background-position:-357px 0; }

#btn-code { width:79px; background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/navigation/navigation.gif) -626px -53px no-repeat; }
#btn-code:hover, #btn-code:focus, #btn-code.selected { background-position:-626px 0; }

#btn-downloads { width:128px; background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/navigation/navigation.gif) -498px -53px no-repeat; }
#btn-downloads:hover, #btn-downloads:focus, #btn-downloads.selected { background-position:-498px 0; }
#spacerRight { display:block; height:53px; width:141px; background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/navigation/navigation.gif) -667px -53px no-repeat; }
#wrapper { margin:0 auto; width:808px; }
#subnav { z-index:50; margin-top:15px; height:32px; width:808px; }
ul#tabs { margin-left:40px; float:left; padding:0; height:32px; width:808px; }
ul#tabs li { margin-left:0; margin-bottom:0; margin-right:2px; margin-top:0; background-color:#fbfbfb; background-repeat:repeat-x; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/tabs/tab_bg.gif); float:left; height:32px; }
ul#tabs a { letter-spacing:1px; font-size:110%; float:left; margin:0; padding-top:11px; height:32px; color:#aaa; }
ul#tabs a.over { color:#7B8738; }
ul#tabs a:hover, ul#tabs a:focus { color:#7B8738; }
ul#tabs a.current:hover, ul#tabs a.current:focus, ul#tabs a.current { color:#3d3d3d; }
.tabLeft { background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/tabs/tabLeft.gif); background-repeat:no-repeat; display:block; float:left; width:17px; height:32px; }
.tabRight { background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/tabs/tabRight.gif); background-repeat:no-repeat; display:block; float:left; width:17px; height:32px; }
#content_envelope_header { margin-top:15px; height:9px; width:808px; background-repeat:no-repeat; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/content_envelope_header.gif); }
#content_envelope { width:808px; background-repeat:repeat-y; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/content_envelope_bg.gif); overflow:hidden; }
#content_envelope_footer { height:20px; width:808px; background-repeat:no-repeat; background-image:url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/content_envelope_footer.gif); }

/* 4. Classes
------------------------------------*/
#footer { float:left; margin-top:20px; background-color:#3d3d3d; width:100%; }
#footer p { padding:20px; color:#b1b1b1; font-size:90%; }
.left { float:left; }
.right { float:right; }
.contentContainer { width:800px; overflow-x:hidden; position:relative; clear:left; background:#fff url(http://usarmy.vo.llnwd.net/e2/rv5_images/create/developer/scroller_bg_gradient.gif) repeat-x scroll left bottom; margin:0 auto; }
#content { width:800px; overflow:hidden; }
.panel { padding-left:15px; padding-bottom:15px; padding-right:15px; padding-top:10px; width:770px; overflow:hidden; }
.topinfo { margin-bottom:20px; overflow:auto; clear:both; padding-bottom:10px; border-bottom-color:#a0a1a3; border-bottom-width:1px; border-bottom-style:solid; width:770px; }
.maininfo { border-right-color:#d7d7d7; border-right-width:1px; border-right-style:solid; padding-right:10px; margin-right:10px; width:495px; float:left; }
.maininfo.noDivide { border: none; }
.maininfo h2 { font-weight:bold; margin-bottom:5px; font-size:220%; }
.maininfo p { font-size:130%; }
.subinfo { width:254px; float:right; }
.subinfo h3 { font-weight:bold; margin-bottom:5px; font-size:130%; }
.no_divide { width:770px; }
.onefourL { width:196px; float:left; }
.onefourR { width:192px; float:right; }
.threefourL { width:557px; border-right:solid #d7d7d7 1px; padding-right:10px; margin-right:10px; float:left; }
.threefourR { width:553px; border-left:solid #d7d7d7 1px; padding-left:10px; margin-left:10px; float:right; }
.onethreeL { width:260px; float:left; }
.onethreeR { width:254px; float:right; }
.twothreeL { width:495px; border-right:solid #d7d7d7 1px; padding-right:10px; margin-right:10px; float:left; }
.twothreeR { width:489px; border-left:solid #d7d7d7 1px; padding-left:10px; margin-left:10px; float:right; }
.panel h4 { font-size:170%; }
.panel h6 { margin-bottom:5px; font-size:165%; }
td.title { font-size:120%; font-weight:bold; }
.verdana { margin-left:20px; font-family:verdana; }
.verdana:hover, .verdana:focus { color:#7b8738; }
.panel img { margin-bottom:5px; margin-top:5px; }
.nobold { font-style:normal; font-weight:normal; }
table.downloads { width:770px; text-align:center; }
.rssfeed { line-height:1.3em; font-size:120%; }
.downloads h6{font-size: 130%;}
h3.downloadTitle{font-size: 130%;font-weight:bold; margin-bottom:5px;}

/* 5. Print
------------------------------------*/
@media print}

/* 6. Handheld
------------------------------------*/
@media handheld}

/* 7. Debug
------------------------------------*/

/* Un-comment for site testing

*[style], font, center {outline: 5px solid red;}
img[alt=""] {border: 3px solid red;}
img[title=""] {border: 3px dotted fuchsia;}
img:not([alt]) {border: 5px solid red;}
img:not([title]) {outline: 5px solid fuchsia;}
table[summary=""] {outline: 3px solid red;}
table:not([summary]) {outline: 5px solid red;}
th {border: 2px solid red;}
th[scope="col"], th[scope="row"] {border: none;}
a[href]:not([title]) {border: 5px solid red;}
a[title=""] {outline: 3px dotted red;}
a[href=""] {background: fuchsia;} */
